@model IEnumerable<XinemaProject.Models.Movies>

@{
    ViewBag.Title = "Movies";
}
@foreach (var item in Model)
{
    <div class="col_1_of_3 span_1_of_3">
        <a href="#">
            <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="~/images/janegotagun.jpg" alt="" />
                </div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title">@Html.DisplayFor(modelItem => item.moviesName)</p>
                    </div>
                    <div class="cart-right"> </div>
                    <div class="clear"></div>
                </div>
            </div>
        </a>
    </div>

}
